/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    margin-left: 50px;
    margin-right:50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}


/* Debut Modifications YULIIA */
nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.navitem {
    padding-top: 14px;
}

.navitem:hover,
.navitem.active {
    border-top: 1px solid #0065FC;
    color: #0065FC;
}

.logoBooki {
    height: 19px;
    margin: 30px 50px;
}

header {
    height: auto;
    margin-bottom: 30px;
}

.groupnav {
    display: flex;
    gap: 68px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 767.98px) {
    nav {    
        flex-direction: column;
        align-items: center;
    }

    .groupnav{
        /*justify-content: space-around;*/
        align-self: stretch;
        margin: 0;
        gap: 0;
        padding-top: 0;
    }

    .navitem{
        flex-grow: 1;  
        width: 187.5px;
        text-align: center;
        padding-bottom: 15px;
    }

    .navitem:hover {
        border-top: none;
        border-bottom: 1px solid #0065FC;
        color: #0065FC;
        
    }

    .navitem.active { 
        width:187.5px;      
        height: 19px;
        border-top: none;
        border-bottom: 1px solid #0065FC;
        color: #0065FC;
        padding-bottom: 15px;
        text-align: center;
    }
}

/*Headline*/
.headline {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    height: auto;
    margin-bottom: 35px;
}

h1 {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
     line-height: normal;
}

p {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}   

@media (max-width:767.98px) {
    .headline {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-container {
    padding: 0px;
  }
}

/*buttonRechercher*/
.buttonRechercher {
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    gap: 24px;  
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF); 
    margin-left: 50px;
    margin-bottom: 35px;
}

input  {
    border: none;
    outline: none;
    text-align: center;
}

.fa-magnifying-glass {
    display: none;
}

@media (max-width: 767.98px) {
    .buttonRechercher {
        width: 335px;
        justify-content: space-between;
        margin-left: 20px;
    }

    .rechercher {
    display: none;  
    }
    
    .fa-magnifying-glass {
        display: inline;
        width: 17px;
        height: 17px;
        padding: 15px 16px;
        background: #0065FC;
        color: white;
        border-radius: 15px;
    }   
}

/* Debut Filter */

.filters {
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin-left: 50px;
    gap: 15px;
    align-items: stretch;
    margin-bottom: 35px;
    flex-wrap: wrap;
    flex-direction: row;
}

.titleFilter {
    padding-top: 15px;
}

.buttonFilter {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    padding: 4px 19px;
    height: 42px;
}

.buttonFilter:hover{
    background: #DEEBFF;
}

.groupFilter {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}